
<form method="post" enctype="multipart/form-data" asp-controller="JSONHandling" asp-action="ImportJSON">
<input name="fileToUpload" type="file" />
<input type="submit" value="Submit" style="width: 15%" class="btn btn-outline-primary col-1"/>
</form>