@model Sort

<form method="post">
    <div class="container">
        <div class="row">
        <input id="btnAdd" type="button" value="Add" onclick="AddInputBox()" class="btn btn-outline-primary col-1"/>
             <input type="submit" value="Submit" style="width: 15%" class="btn btn-outline-primary col-1" asp-controller="Sorts" asp-action="CreateSort"/>
         </div>
           <label> @Html.RadioButton("SortOrder", 0, true)Ascending</label>
           <label> @Html.RadioButton("SortOrder", 1, false)Descending</label>
    </div> 
                 <div class="container">
               <div class="row" id="InputContainer">
                   <input type="number" name="Integer" style="width: 15%" class="form-control col-1" required="required">
               </div>
           </div>
</form>