@model IEnumerable<Number>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
        <div>
        <div><a asp-controller="Number" asp-action="AddSort" class="btn btn-primary">New Sort</a></div>
         <div><a asp-controller="Sorts" asp-action="Index" class="btn btn-primary">Back To List</a></div>
        <div><a asp-controller="Number" asp-action="ExportJSON" class="btn btn-primary">Export JSON for this sort</a></div>
        </div>
</div>

<h2 class="text-primary">Integers Table for sort ID# @Model.First().SortID</h2> 

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Sort ID
            </th>
            <th>
                Integers
            </th>         
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {

             <tr>
                 <td width="50%">
                      @obj.SortID
                 </td>                      
                     <td width="30%">
                        @obj.Integer
                 </td>
                 <td>
                    <div><a asp-route-id=@obj.Id value="Remove" asp-controller="Number" asp-action="RemoveNumber" class="btn btn-primary">Remove</a></div>
                 </td>
             </tr>
        }
    </tbody>
</table>