@model IEnumerable<Sort>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
        <div>
        <div><a asp-controller="Number" asp-action="AddSort" class="btn btn-primary">New Sort</a></div>
        <div><a asp-controller="Number" asp-action="DeleteDatabase" class="btn btn-primary">Remove</a></div>
        <div><a asp-controller="Number" asp-action="ExportJSON" class="btn btn-primary">Export JSON</a></div>
        </div>
</div>

<h2 class="text-primary">Sorts Table</h2>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Sort ID
            </th>
            <th>
                Sort Time (ms)
            </th>
            <th>
                Sort Direction
            </th>

        </tr>

    </thead>
    <tbody>
        @foreach(var obj in Model)
        {

             <tr>
                 <td width="50%">
                      <a asp-route-id=@obj.Id asp-controller="Number" asp-action="ViewSort">@obj.Id</a>
                 </td>

                     <td width="30%">

                        @obj.SortTime
                 </td>
                 <td>
                     @obj.SortDirection
                 </td>

                 <td>
                    <div><a asp-route-id=@obj.Id value="Remove" asp-controller="Sorts" asp-action="RemoveSort" class="btn btn-primary">Remove</a></div>
                 </td>

             </tr>
        }
    </tbody>
</table>